.image-cropper-container {
  @apply fixed inset-0 z-[2000] bg-black flex flex-col;
}

.image-cropper-cropper-wrapper {
  @apply relative flex-grow;
}

.image-cropper-controls-container {
  @apply p-6 bg-secondary dark:bg-dark-surface rounded-t-[2.5rem] flex flex-col gap-4;
  transition: background-color 300ms ease-in-out;
}

.image-cropper-zoom-container {
  @apply flex items-center justify-between px-4;
}

.image-cropper-zoom-label {
  @apply font-bold text-hint dark:text-dark-text;
  transition: color 300ms ease-in-out;
}

.image-cropper-zoom-slider {
  @apply w-2/3 h-2 bg-secondary-dark dark:bg-dark-surface rounded-lg appearance-none cursor-pointer;
  transition: background-color 300ms ease-in-out;
}

.image-cropper-buttons-container {
  @apply flex gap-4;
}

.image-cropper-btn {
  @apply flex-1 py-4 rounded-2xl font-bold active:scale-95 transition-all;
}

.image-cropper-btn-primary {
  @apply text-white bg-primary dark:bg-accent dark:text-dark-bg;
  transition: all 300ms ease-in-out;
}

.image-cropper-btn-secondary {
  @apply text-hint dark:text-dark-text bg-secondary-light dark:bg-dark-surface;
  transition: all 300ms ease-in-out;
}
