@keyframes expandingGlow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: scale(150); /* زيادة الحجم ليملأ الشاشة بالكامل */
    opacity: 0;
  }
}

.animate-expand-glow {
  animation: expandingGlow 10s ease-in-out infinite;
}

.logo-border {
  border: 4px solid #1A365D;
  padding: 0;
  border-radius: 9999px;
  background-color: transparent;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
